{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Donate Blood & Save a Life</title>
    <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/fav.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/grid-gallery/css/grid-gallery.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
        <header class="continer-fluid ">
            <div class="header-top">
                <div class="container">
                    <div class="row col-det">
                        <div class="col-lg-6 d-none d-lg-block">
                            <ul class="ulleft">
                                <li>
                                    <i class="far fa-envelope"></i>
                                    melasatyanarayana123@gmail.com
                                    </li>
                                
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <ul class="ulright">
                                <li>
                                    <i class="fas fa-user"></i><a href="/donor/signup"> SignUp</a>
                                    <i class="fas fa-user"></i><a href="/donor/login/">SignIn</a>
                                    <span>|</span></li>
                                </li>
                                <li>
                                    <a href="/donor/donordetails"> Donate Now </a>
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    
                                    
                                    
                                <li>
                                    
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="menu-jk" class="header-bottom">
                <div class="container">
                    <div class="row nav-row">
                        <div class="col-md-3 logo">
                            <img src="{% static 'images/logo.jpg' %}" alt="">
                        </div>
                        <div class="col-md-9 nav-col">
                            <nav class="navbar navbar-expand-lg navbar-light">

                                <button
                                    class="navbar-toggler"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#navbarNav"
                                    aria-controls="navbarNav"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNav">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="#">Home
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#about">About Us</a>
                                        </li>
                                       
                                        {% comment %} <li class="nav-item">
                                            <a class="nav-link" href="#gallery">Gallery</a>
                                        </li> {% endcomment %}
                                         <li class="nav-item">
                                            <a class="nav-link" href="#process">Process</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#blog">Blog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#contact">Contact US</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        
    <!-- ################# Slider Starts Here#######################--->

    <div class="slider-detail">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>

            </ol>
                </div>

                <div class="carousel-item active ">
                    <img class="d-block w-100" src="{% static 'images/slider/slide-03.jpg' %}" alt="Third slide">
                    <div class="carousel-caption vdg-cur d-none d-md-block">
                        <h5 class=" bounceInDown">Donate Blood & Save a Life</h5>
                        <p class=" bounceInLeft">Blood Donor day is celebrated on 14th June to create awareness of the universal need for blood for health care and also celebrate and thank every individual who donates blood and encourage more people to start donating.</p>

                        <div class=" vbh">

                            <div class="btn btn-danger  bounceInUp"><a href="/donor/donordetails"> Donate Now </a></div>

                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
    
    <!--*************** About Us Starts Here ***************-->
   <section id="about" class="contianer-fluid about-us">
       <div class="container">
           <div class="row session-title">
               <h2>About Us</h2>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</p>
           </div>
            <div class="row">
                <div class="col-md-6 text">
                    <h2>About Blood Doners</h2>
                    <p>Blood donation is a vital aspect of healthcare systems around the world, providing a critical resource for emergency situations, medical procedures, and ongoing treatment for a variety of conditions. Blood donors are individuals who volunteer to donate blood, either for general use or for specific individuals who require transfusions.</p>
                    <p>The content related to blood donors may include information about the importance of blood donation, how blood is collected and processed, the benefits and risks of donating blood, and the eligibility criteria for blood donors. This content may also cover topics such as the different blood types and their compatibility, the use of blood in medical treatments, and the role of blood banks and transfusion centers in managing blood supplies.</p>
                    <p>In addition to educational content, resources for blood donors may also include tools for finding local blood drives or donation centers, information on how to prepare for a blood donation, and resources for tracking blood donations and managing donor profiles. Other content related to blood donation may focus on raising awareness about the need for blood donors and encouraging individuals to consider donating blood to support their communities and healthcare systems.</p>
                </div>
                <div class="col-md-6 image">
                    <img src="{% static 'images/about.jpg' %}" alt="">
                </div>
            </div>
       </div>
   </section>
    
    {% comment %} <section>
        <div class="container">
            <div class="gg-box">
                <div class="row gallery-row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g1.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g2.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g3.jpg' %}">
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g4.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g5.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g5.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g5.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g5.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-12 mb-3">
                        <div class="gg-element">
                            <img src="{% static 'images/gallery/g5.jpg' %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}
    
      <!-- ################# Gallery Start Here #######################--->
     
    {% comment %} <div id="gallery" class="gallery container-fluid">
        <div class="container">
            <div class="row session-title">
                <h2>Checkout Our Gallery</h2>
            </div>
            <div class="gallery-row row">
                    <div id="gg-screen"></div>
                    <div class="gg-box">
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g1.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g2.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g3.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g4.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g5.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g6.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g7.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g8.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g9.jpg' %}">
                            </div>
                            <div class="gg-element">
                                <img src="{% static 'images/gallery/g10.jpg' %}">
                            </div>
                            
                            
                          </div>
            </div>
        </div>
    </div>
     {% endcomment %}
    
    
     <!-- ################# Donation Process Start Here #######################--->
     
     <section id="process" class="donation-care">
         <div class="container">
           <div class="row session-title">
               <h2>Donation Process</h2>
               <p>The donation process from the time you arrive center until the time you leave</p>
           </div>
            <div class="row">
                 <div class="col-md-3 col-sm-6 vd">
                    <div class="bkjiu">
                     <img src="{% static 'images/gallery/g1.jpg' %}" alt="">
                     <h4><b>1 - </b>Registration and Screening: </h4>
                     <p>The donor fills out a registration form and undergoes a brief medical screening to ensure that they are eligible to donate blood. This may include checking the donor's blood pressure, pulse, and hemoglobin levels, as well as asking about their medical history and recent travel.</p>
                     <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                    <div class="bkjiu">
                     <img src="{% static 'images/gallery/g2.jpg' %}" alt="">
                        <h4><b>2 - </b>Donatuon</h4>
                     <p> Once the donor is cleared to donate, they are escorted to a donation area where a sterile needle is inserted into a vein in their arm. The donation process typically takes between 10 and 20 minutes, during which time the donor's blood is collected in a sterile bag.</p>
                     <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                    <div class="bkjiu">
                     <img src="{% static 'images/gallery/g3.jpg' %}" alt="">
                        <h4><b>3 - </b>Post-Donation Refreshment:</h4>
                     <p>After the donation is complete, the donor is typically asked to rest for a few minutes and have a snack or drink to help replenish fluids and prevent dizziness or lightheadedness.</p>
                     <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button>
                     </div>
                 </div>
                 <div class="col-md-3 col-sm-6 vd">
                    <div class="bkjiu">
                        <img src="{% static 'images/gallery/g4.jpg' %}" alt="">
                        <h4><b>4 - </b>Follow-Up: </h4>
                         <p> Donors may be given information about how to monitor their health and well-being after the donation, and may be contacted in the future to schedule additional donations or to provide feedback on their experience.</p>
                         <button class="btn btn-sm btn-danger">Readmore <i class="fas fa-arrow-right"></i></button>
                    </div> 
                 </div>
            </div>
            
             
         </div>
     </section>
     
     
     
     
         <!--################### Our Blog Starts Here #######################--->
        <div id="blog" class="blog-container contaienr-fluid">
            <div class="container">
                <div class="session-title row">
                  <h2>Latest Blog</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vel nisl a dictum. Donec ut est arcu. Donec hendrerit velit consectetur adipiscing elit.</p>
                </div>
                <div class="row news-row">
                    <div class="col-md-6">
                        <div class="news-card">
                            <div class="image">
                                <img src="{% static 'images/blog/blog_01.jpg' %}" alt="">
                            </div>
                            <div class="detail">
                                <h3>Importance: </h3>
                                <p>Blood donation saves lives by providing a critical resource for emergency situations and medical treatments. </p>
                                <p class="footp">
                                    27 Comments <span>/</span>
                                    Blog Design <span>/</span>
                                    Read More
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-card">
                            <div class="image">
                                <img src="{% static 'images/blog/blog_02.jpg' %}" alt="">
                            </div>
                            <div class="detail">
                                <h3>Donating blood</h3>
                                <p>Donating blood is a safe and simple process that can help support the health and well-being of individuals and communities.</p>
                                <p class="footp">
                                    27 Comments <span>/</span>
                                    Blog Design <span>/</span>
                                    Read More
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-card">
                            <div class="image">
                                <img src="{% static 'images/blog/blog_03.jpg' %}" alt="">
                            </div>
                            <div class="detail">
                                <h3>eligibility criteriae</h3>
                                <p>Anyone who meets the eligibility criteria can donate blood, and the process is strictly regulated to ensure the safety of donors and recipients alike.</p>
                                <p class="footp">
                                    27 Comments <span>/</span>
                                    Blog Design <span>/</span>
                                    Read More
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="news-card">
                            <div class="image">
                                <img src="{% static 'images/blog/blog_04.jpg' %}" alt="">
                            </div>
                            <div class="detail">
                                <h3>Latest News</h3>
                                <p>Blood donations are needed on a regular basis to ensure a sufficient supply of blood for patients in need, especially during times of crisis or high demand.</p>
                                <p class="footp">
                                    27 Comments <span>/</span>
                                    Blog Design <span>/</span>
                                    Read More
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     
     
<footer id="contact" class="container-fluid">
		<div class="row content-ro">
			</div>
			<div class="footer-copy">
				<div class="row">
					<div class="col-lg-8 col-md-6">
						<p>Copyright © <a href="#">Satyanarayana</a> | All right reserved.</p>
					</div>
					<div class="col-lg-4 col-md-6 socila-link">
						<ul>
							<li><a><i class="fab fa-github"></i></a></li>
							<li><a><i class="fab fa-google-plus-g"></i></a></li>
							<li><a><i class="fab fa-pinterest-p"></i></a></li>
							<li><a><i class="fab fa-twitter"></i></a></li>
							<li><a><i class="fab fa-facebook-f"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
